

<%= form_with model: @item, local: true do |form| %>
    
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@item.errors.count, "error") %>.
    </div>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <p>
      <%= form.label :price %><br>
      <%= form.text_area :price %>
    </p>

    <p>
      <%= form.label :serial_no %><br>
      <%= form.text_area :serial_no %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>