<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p> 
      <% end %>
      <details>
<summary> Shopping cart </summary>
<%if @cart.empty?%>
<p> No items in cart </p>
<%else%>
<ul>
    <%i=0%>
    <% @cart.each do |item| %>
    <li>
       <%=item.title%>
       <%=item.price%> 

       <p> Quantity: <%=@item_quantity[i]%> </p>
       <%i+=1%>
       <%=session[:cart]%>
       <%= form_tag update_quantity_cart_path(item),method: :put do %>
        <label for="quantity">Quantity</label>
        <%= text_field_tag :quantity %>
       <%= submit_tag "Submit" %>
      <% end %>
       <p><%= button_to 'remove from cart',remove_from_cart_path(item) ,method: :delete%></p>
    </li>
    <%end%>
  </ul>
  <p><%= link_to 'checkout',(user_signed_in? ? root_path : new_user_session_path)%> </p>
<%end%>
</details>
    <%= yield %>
  </body>
</html>
